

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Bold */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-content: center;
}


body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-image: url('src/assets/Screenshot 2024-02-14 at 09.28.16.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
#piano-image{
    z-index: -100;
    width: 100%;
    overflow: hidden;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #cc5500;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
p{
    padding-left: 80px;
}
h1,h2,h3{
    padding-left: 80px;
    text-decoration: underline;
}

video{
    padding-left: 150px;
}

li{
    padding-left: 80px;
}

ul{
    padding-left: 80px;
}

#jumpMenu {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }



  body {

    background-color: #fff;
    color: #000;
  }
  
  .dark-mode {
    background-color: #000;
    color: #fff;
  }
  